In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [19]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
d = pd.DataFrame(data)

In [0]:
def wordcount(str):
  count = dict()
  words = str.split()
  for i in words:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

In [0]:
d['reviewText_word_count'] = d['reviewText'].apply(wordcount)

In [23]:
d['reviewText_word_count'].head(7)

0    {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1    {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...
2    {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3    {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4    {'For': 1, 'simple': 1, 'calculations': 2, 'an...
5    {'While': 1, 'I': 6, 'don't': 1, 'have': 1, 'a...
6    {'I've': 1, 'had': 1, 'an': 1, 'HP': 2, '12C':...
Name: reviewText_word_count, dtype: object

In [0]:
d['summary_word_count'] = d['summary'].apply(wordcount)

In [25]:
d.head(10)

       reviewerID  ...                                 summary_word_count
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}
5  A2JFOHC9W629IE  ...  {'Every': 1, 'MBA': 1, 'student': 1, 'and': 1,...
6  A38NELQT98S4H8  ...  {'A': 1, 'workhorse': 1, 'of': 1, 'a': 1, 'cal...
7   AA8M6331NI1EN  ...  {'Fast': 1, 'shipping': 1, '&': 1, 'great': 1,...
8  A25C2M3QF9G7OQ  ...  {'Nice': 1, 'design,': 1, 'works': 1, 'well,':...
9  A1RTVWTWZSIC94  ...                      {'Love': 1, 'It!!!!!!!!!': 1}

[10 rows x 11 columns]