In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [20]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
d = pd.DataFrame(data)

In [0]:
def splita(m):
  return list(m)

In [0]:
vowel = ['A','a','E','e','I','i','O','o','U','u']
def func(text):
  counter = {"vowel":0,"consonant":0,"tcount":0}
  for word in text:
    worda = splita(word)
    for word1 in worda:
      if word1 in vowel:
        counter['vowel']+=1
      else:
        counter['consonant']+=1
      counter['tcount']+=1
  return counter

In [0]:
data['counts_review']=data['reviewText'].apply(lambda x:func(x))
data['counts_summary']=data['summary'].apply(lambda x:func(x))

In [25]:
data.head()

       reviewerID  ...                                counts_summary
0  A32T2H8150OJLU  ...  {'vowel': 12, 'consonant': 27, 'tcount': 39}
1  A3MAFS04ZABRGO  ...  {'vowel': 14, 'consonant': 48, 'tcount': 62}
2  A1F1A0QQP2XVH5  ...  {'vowel': 15, 'consonant': 33, 'tcount': 48}
3   A49R5DBXXQDE5  ...  {'vowel': 14, 'consonant': 30, 'tcount': 44}
4  A2XRMQA6PJ5ZJ8  ...   {'vowel': 3, 'consonant': 11, 'tcount': 14}

[5 rows x 11 columns]

In [0]:
import re

In [0]:
def alpha(str):
  str = re.sub('[^a-zA-Z]',' ',str)
  list1 = re.findall("\w+[Gg]",str)
  list2 = re.findall("[Bb]\w+",str)
  return(list(set().union(list1,list2)))

In [0]:
d['bgr'] = d['reviewText'].apply(alpha)
d['bgs'] = d['summary'].apply(alpha)

In [29]:
d

           reviewerID  ...           bgs
0      A32T2H8150OJLU  ...        [long]
1      A3MAFS04ZABRGO  ...  [flag, bury]
2      A1F1A0QQP2XVH5  ...    [ble, but]
3       A49R5DBXXQDE5  ...            []
4      A2XRMQA6PJ5ZJ8  ...        [best]
...               ...  ...           ...
53253  A1ODOGXEYECQQ8  ...         [ble]
53254  A2XX2A4OJCDNLZ  ...    [ble, Dig]
53255  A3LGT6UZL99IW1  ...    [shipping]
53256  A1XJOSJN6FHFO0  ...            []
53257   AAEVGE52KL0DJ  ...            []

[53258 rows x 13 columns]