In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [3]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
d = pd.DataFrame(data)

In [0]:
def splita(m):
  return list(m)

In [0]:
import re

In [0]:
def beta(string):
  string=string.lower()
  string=re.sub('[^a-zA-Z]',' ',string)
  listgb=re.findall(r"\b(?!b)\w+(?<!g)\b",string)
  return listgb

In [0]:
d['notbgr'] = d['reviewText'].apply(beta)
d['notbgs'] = d['summary'].apply(beta)

In [17]:
d['notbgr'][10]

['i',
 've',
 'had',
 'mine',
 'for',
 'years',
 'now',
 'and',
 'use',
 'it',
 'almost',
 'daily',
 'never',
 'had',
 'any',
 'problems',
 'with',
 'it',
 'even',
 'after',
 'a',
 'few',
 'drops',
 'to',
 'the',
 'carpeted',
 'floor',
 'large',
 'easy',
 'to',
 'read',
 'keys',
 'with',
 'a',
 'nice',
 'feel',
 'not',
 'too',
 'hard',
 'not',
 'too',
 'soft',
 'large',
 'easy',
 'to',
 'read',
 'display',
 'all',
 'in',
 'all',
 'good',
 'calculator',
 'for',
 'everyday',
 'functions']

In [18]:
d

           reviewerID  ...                                             notbgs
0      A32T2H8150OJLU  ...           [a, solid, performer, and, time, friend]
1      A3MAFS04ZABRGO  ...  [price, of, gold, is, up, so, don, t, the, gol...
2      A1F1A0QQP2XVH5  ...  [good, functionality, not, durable, like, old,...
3       A49R5DBXXQDE5  ...  [one, of, the, last, of, an, almost, extinct, ...
4      A2XRMQA6PJ5ZJ8  ...                                       [still, the]
...               ...  ...                                                ...
53253  A1ODOGXEYECQQ8  ...               [portable, and, very, easy, to, use]
53254  A2XX2A4OJCDNLZ  ...  [accuteck, shippro, digital, postal, scale, st...
53255  A3LGT6UZL99IW1  ...    [extremely, accurate, foolproof, postal, scale]
53256  A1XJOSJN6FHFO0  ...                        [fast, easy, and, accurate]
53257   AAEVGE52KL0DJ  ...         [great, value, on, a, good, postal, scale]

[53258 rows x 13 columns]