In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [24]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [25]:
from nltk import word_tokenize
import nltk
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
import re
from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

True

In [0]:
def a1(sentence):
  sentence = sentence.lower()
  sentence = re.sub("[^a-zA-Z]"," ",sentence)
  new_dict = {}
  token = word_tokenize(sentence)
  #lemma = WordNetLemmatizer(sentence.split())
  tag = pos_tag(sentence.split())
  new_dict = {"Tokens":token,"Tag":tag}
  return new_dict

In [0]:
data['nltk_review'] = data['reviewText'].apply(a1)

In [28]:
data.head()

       reviewerID  ...                                        nltk_review
0  A32T2H8150OJLU  ...  {'Tokens': ['i', 'bought', 'my', 'first', 'hp'...
1  A3MAFS04ZABRGO  ...  {'Tokens': ['why', 'this', 'belated', 'review'...
2  A1F1A0QQP2XVH5  ...  {'Tokens': ['i', 'have', 'an', 'hp', 'gx', 'th...
3   A49R5DBXXQDE5  ...  {'Tokens': ['i', 've', 'started', 'doing', 'mo...
4  A2XRMQA6PJ5ZJ8  ...  {'Tokens': ['for', 'simple', 'calculations', '...

[5 rows x 10 columns]

In [0]:
def adj(sentence):
  tag1 = pos_tag(sentence.split())
  adj1 = [(word) for word, tag in tag1 if (tag=='JJ')]
  return adj1

In [0]:
data['adjrev'] = data['reviewText'].apply(adj)

In [34]:
data.head()

       reviewerID  ...                                             adjrev
0  A32T2H8150OJLU  ...  [first, difficult, area., many, disaster.The, ...
1  A3MAFS04ZABRGO  ...  [old, satisfied, frank, non-techkie, synonymou...
2  A1F1A0QQP2XVH5  ...  [old, overall, new, hollow, available, great.,...
3   A49R5DBXXQDE5  ...  [good, available., (HP-45,, great, long-lastin...
4  A2XRMQA6PJ5ZJ8  ...  [simple, financial, complex, quick, Reverse, P...

[5 rows x 12 columns]

In [0]:
data['nltk_summary'] = data['summary'].apply(a1)

In [0]:
data['adjsum'] = data['summary'].apply(adj)

In [37]:
data.head()

       reviewerID  ...                adjsum
0  A32T2H8150OJLU  ...         [solid, long]
1  A3MAFS04ZABRGO  ...  [up,, don't, golden]
2  A1F1A0QQP2XVH5  ...  [Good, durable, old]
3   A49R5DBXXQDE5  ...       [last, extinct]
4  A2XRMQA6PJ5ZJ8  ...                    []

[5 rows x 14 columns]